<div class="h-full md:mr-2">
  <div class="bg-white h-full">
    <div class="m-2 p-px bg-green">
        <p class="bg-white p-2 text-center font-black">お電話でのお問い合わせ</p>
        <p class="p-2 text-white text-center font-black">
          <a href="tel:0120411578" class="no-underline text-white">
            0120-41-1578
          </a>
        </p>
    </div>
    <div class="p-2">
      <h4 class="text-center text-black pb-2">本日の地金買取相場</h4>
      <h5 class="text-center text-black pb-2">{{ dateFormat .Site.Params.dateFormat .Site.Params.market.date }}</h5>
      {{ $gd := .Site.Params.market.gd }}
      {{ $gd_ratio := .Site.Params.market.gd_ratio }}
      {{ $pt := .Site.Params.market.pt }}
      {{ $pt_ratio := .Site.Params.market.pt_ratio }}

      <div class="mb-2">
          <div class="flex justify-between -mt-1">
          <div class="w-10 py-2 text-center border border-solid border-yellow-dark bg-yellow font-bold">金</div>
          <div class="py-2 text-center border border-solid border-yellow-dark flex-grow border-l-0">
            <span class="font-bold">{{ lang.NumFmt 0 $gd }}</span>
            <span class="text-sm">円/g</span>
          </div>
          <div class="w-20 py-2 px-1 text-right border border-solid border-yellow-dark border-l-0">
            <span class="text-sm">前日比</span>
              {{ if gt $gd_ratio 0 }}
                <span class="text-red font-bold">+{{$gd_ratio}}円</span>
              {{ else if lt $gd_ratio 0 }}
                <span class="text-blue-dark font-bold">-{{ mul -1 $gd_ratio}}円</span>
              {{ else }}
                {{ print " " $gd_ratio "円" }}
              {{ end }}
            </div>
          </div>      
        </div>
      <div class="mb-2">
        <div class="flex justify-between -mt-1">
        <div class="w-10 py-2 text-center border border-solid border-grey bg-grey-lighter font-bold">Pt</div>
        <div class="py-2 text-center border border-solid border-gray flex-grow border-l-0">
          <span class="font-bold">{{ lang.NumFmt 0 $pt }}</span>
          <span class="text-sm">円/g</span>
        </div>
        <div class="w-20 py-2 px-1 text-right border border-solid border-gray border-l-0">
          <span class="text-sm">前日比</span>
            {{ if gt $pt_ratio 0 }}
              <span class="text-red font-bold">+{{ $pt_ratio }}円</span>
            {{ else if lt $pt_ratio 0 }}
              <span class="text-blue-dark font-bold">-{{ mul -1 $pt_ratio }}円</span>
            {{ else }}
              {{ print " " $pt_ratio "円" }}
            {{ end }}
          </div>
        </div>      
      </div>
      <!-- <div class="mb-2">
        {{ range where .Site.Params.gd "name" "K24IG" }}
        {{ partial "price_gd" (dict "market" $gd "gd" . ) }}
        {{ end }}
      </div>
      <div class="mb-2">
        {{ range where .Site.Params.gd "name" "K18" }}
        {{ partial "price_gd" (dict "market" $gd "gd" . ) }}
        {{ end }}
      </div>
      <div class="mb-2">
        {{ range where .Site.Params.pt "name" "Pt900" }}
        {{ partial "price_pt" (dict "market" $pt "pt" .) }}
        {{ end }}
      </div>
      <div class="mb-2">
        {{ range where .Site.Params.pt "name" "Pt850" }}
        {{ partial "price_pt" (dict "market" $pt "pt" .) }}
        {{ end }}
      </div> -->
      <p class="text-center">
        <a href="/stocks/" class="{{ .Site.Params.btnClass }} ">
          全ての価格表をみる
        </a>
      </p>
    </div>

    <div class="border border-grey-dark pt-4">
      <h4 class="text-center pb-1 text-lg">営業カレンダー</h4>
      <div id="calendar">Elmで書かれたカレンダーが埋め込まれます</div>
      <p class="text-center py-1 md:text-sm font-semibold">定休日 毎週水曜日・第1と3火曜日</p>
      <p class="text-center py-1 md:text-sm font-semibold">営業時間 10:00am - 7:00pm</p>
    </div>
    <br>

    <div class="">
      <a href="https://shopping.geocities.jp/pawnshopiko/#/?_k=fpusp3" class="no-underline" target="_blank">
        <img src="/images/banner-yahoo-shopping.png" srcset="/images/banner-yahoo-shopping.png 1x,/images/banner-yahoo-shopping@2x.png 2x"
        class="w-full h-auto border border-grey-dark hover:opacity-75">
      </a>

    </div>
    <br>

    <div class="">
      <a href="https://auctions.yahoo.co.jp/seller/pawnshopiko" class="no-underline" target="_blank">
        <img src="/images/banner-yahoo-auction.png" srcset="/images/banner-yahoo-auction.png 1x,/images/banner-yahoo-auction@2x.png 2x"
        class="w-full h-auto border border-grey-dark hover:opacity-75">
      </a>
    </div>
    <br>

    <div class="border border-grey-dark p-4">
      <img src="/images/duty_free_logo.svg"
           alt="免税店のロゴ">
      <p class="text-center py-2 md:text-sm font-semibold">店頭販売のみ対象となります</p>
    </div>
    <br>

    <a href="https://www.merpay.com/" target="_blank" class="no-underline text-black">
      <div class="border border-grey-dark p-4">
        <img src="/images/merpay.png"
             alt="メルペイのロゴ"
             class="hover:opacity-75">
        <p class="text-center py-2 md:text-sm font-semibold">店頭での商品ご購入のみです</p>
      </div>
    </a>
    <br>

    <a href="https://line.me/ja/pay" target="_blank" class="no-underline text-black">
      <div class="border border-grey-dark p-4">
        <img src="/images/linepay.png"
             alt="LINEペイのロゴ"
             class="hover:opacity-75">
        <p class="text-center py-2 md:text-sm font-semibold">店頭での商品ご購入のみです</p>
      </div>
    </a>
    <br>

    <a href="https://airregi.jp/payment/" target="_blank" class="no-underline text-black">
      <div class="border border-grey-dark p-4">
        <img src="/images/airpay.png"
             srcset="/images/airpay.png 1x, /images/airpay@2x.png 2x"
             alt="AirPayのロゴ"
             class="hover:opacity-75">
        <p class="text-center py-2 md:text-sm font-semibold">店頭での商品ご購入のみです</p>
      </div>
    </a>
    <br>

    <div class="">
      <a href="http://www.zenshichi.gr.jp" class="no-underline" target="_blank">
        <img src="/images/banner-zenshichi.png"
             srcset="/images/banner-zenshichi.png 1x,/images/banner-zenshichi@2x.png 2x"
             alt="全国質屋組合連合会のロゴ"
             class="w-full h-auto border border-grey-dark hover:opacity-75">
      </a>
    </div>
    <br>
  </div>

  <div>
    <a class="twitter-timeline" data-width="256" data-height="600" href="https://twitter.com/pawnshopiko?ref_src=twsrc%5Etfw">Tweets by pawnshopiko</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
