<script type="text/javascript" src="/contact-form.js"></script>
<script type="text/javascript">
  const node = document.getElementById('contact-form');

  if (node) {
    const app = Elm.Main.init({
      node: node,
      flags: {
        width: window.innerWidth,
        height: window.innerHeight
      }
    })

    function resizeImage(src) {
      return new Promise((resolve, reject) => {
        const width = 800
        const height = 800
        const image = new Image()

        image.onload = () => {
          const elem = document.createElement('canvas')
          const scaleFactor = width / image.width
          elem.width = width
          elem.height = image.height * scaleFactor

          const ctx = elem.getContext('2d')
          ctx.drawImage(image, 0, 0, width, image.height * scaleFactor)

          const result = ctx.canvas.toDataURL('image/jpeg', 0.85)
          resolve(result)
        }
        image.onerror = (e) => {
          console.log('onerror: ', e)
          reject(e)
        }
        image.src = src
      })
    }

    app.ports.resize.subscribe(data => {
      Promise.all(data.map(resizeImage))
      .then(resized => {
        app.ports.resizedImages.send(resized)
      })
    })
  }
</script>
