{{ $linkClass := "text-white no-underline"}}

<footer class="w-full max-w-scree-xl mx-auto print:hidden">
    <div class="bg-grey-dark text-white px-8">
        <ul class="list-reset flex flex-col md:flex-row md:justify-between">
            <li class="w-48 py-8">
                <p class="font-black text-black">リソース</p>
                <hr class="bg-white h-px">
                <ul class="list-reset leading-normal">
                    <li><a href="/item/" class="{{ $linkClass }}">商品一覧</a></li>
                    <li><a href="/post/" class="{{ $linkClass }}">ブログ</a></li>
                    <li>取扱品目</li>
                </ul>
            </li>
            <li class="w-48 py-8">
                <p class="font-black text-black">会社情報</p>
                <hr class="bg-white h-px">
                <ul class="list-reset leading-normal">
                    <li><a href="/#access" class="{{ $linkClass }}">アクセス</a></li>
                    <li><span class="line-through">採用情報</span></li>
                </ul>
            </li>
            <li class="w-48 py-8">
                <p class="font-black text-black">ポリシー</p>
                <hr class="bg-white h-px">
                <ul class="list-reset leading-normal">
                    <li>プライバシーポリシー</li>
                    <li>特定商取引法に基づく表記</li>
                    <li>古物営業法に基づく表記</li>
                </ul>
            </li>
            <li class="w-48 py-8">
                <p class="font-black text-black">メディア</p>
                <hr class="bg-white h-px">
                <ul class="list-reset leading-normal">
                    <li><a href="/news" class="text-white no-underline">お知らせ</a></li>
                    <li>
                        <a href="https://www.instagram.com/pawnshopiko/" class="{{ $linkClass }}" title="Instagram"><i class="fab fa-instagram text-3xl"></i></a>
                        <a href="https://www.facebook.com/pawnshopiko/" class="{{ $linkClass }}" title="Facebook"><i class="fab fa-facebook-square text-3xl"></i></a>
                        <a href="https://twitter.com/pawnshopiko" class="{{ $linkClass }}" title="Twitter"><i class="fab fa-twitter-square text-3xl"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bg-grey-darkest text-center py-4 text-white">
        <p>株式会社オフィスイコー</p>
        <p>Copyright Office IKO Co. All Rigts Reserved.</p>
    </div>
</footer>

{{ $url := "https://holidays-jp.github.io/api/v1/date.csv" }}
{{ $sep := "," }}
{{ $calendar := getCSV $sep $url }}

<script type="text/javascript" src="/assets/index.js"></script>

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.1&appId=361836030508004&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>