<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"> -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ .Title }} </title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/index.css" >
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
<meta property="og:type" content="{{ if eq .URL "/" }} website {{ else }} article {{ end }}">
<meta property="og:description" content="{{ .Summary | truncate 30 }}" />

{{ with $.Page.Resources.GetMatch "*.jpg" }}
<meta property="og:image" content="{{ .Permalink }}" />
{{ else }}
<meta property="og:image" content="/images/top-tenpo-4-3.jpg" />
{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@pawnshopiko" />
<meta property="og:site_name" content="質イコー 越谷市の高価買取の質屋" />
<meta property="og:locale" content="ja_JP" />
<!-- <meta property="fb:app_id" content="appIDを入力"> -->

{{ template "_internal/google_analytics.html" . }}
