
<li class="w-full lg:w-1/2 p-2">
    <div class="md:flex mb-2 p-2 border border-solid border-blue-500">
        {{ $class := "rounded-lg object-contain" }}
        {{ $image := .Resources.GetMatch "*" }}
        <a href="{{ .RelPermalink }}" class="md:w-32 md:h-32 text-black block md:flex-shrink-0 flex items-center justify-center">
        {{ if $image }}
            {{ $x1 := $image.Resize "300x" }}
            {{ $x2 := $image.Resize "600x" }}

            <img class="{{ $class }}" src="{{ $x1.RelPermalink }}"
                srcset="{{ $x1.RelPermalink }} 1x, {{ $x2.RelPermalink }} 2x" alt="Blog image">
        {{ else }}
            <img src="/images/thumb-news.png" class="{{ $class }}">
        {{ end }}
        </a>
        <div class="flex flex-col ml-2 leading-normal" title="{{ .Title }}">
            <span class="text-sm text-indigo-600 border-b">{{ dateFormat .Site.Params.dateFormat .Date }}</span>
            <a href="{{ .RelPermalink }}" class="block h-6 overflow-hidden text-black font-bold">{{ .Title }}</a>
            <p>{{ .Summary | truncate 30}}</p>
        </div>
    </div>
</li>
