
<li class="w-full lg:w-1/2 p-2">
    <div class="flex mb-2 p-2 border border-solid border-blue">
        {{ $class := "w-24 h-24 md:w-32 md:h-32 object-contain" }}
        {{ $img := .Resources.GetMatch "image-1.jpg" }}
        <a href="{{ .URL }}" class="no-underline text-black block flex-no-shrink">
        {{ if $img }}
        {{ $x1 := $img.Resize "300x" }}
        {{ $x2 := $img.Resize "600x" }}

        <img class="{{ $class }}" src="{{ $x1.RelPermalink }}"
            srcset="{{ $x1.RelPermalink }} 1x, {{ $x2.RelPermalink }} 2x" alt="Blog image">
        {{ else if .Params.image }}
        <img src="{{ .Params.image }}" class="{{ $class }}">
        {{ else }}
        <img src="/images/thumb-news.png" class="{{ $class }}">
        {{ end }}
        </a>
        <div class="flex flex-col ml-2 leading-normal" title="{{ .Title }}">
            <span class="text-sm text-grey-dark">{{ dateFormat .Site.Params.dateFormat .Date }}</span>
            <a href="{{ .URL }}" class="block h-6 overflow-hidden no-underline text-black font-bold">{{ .Title }}</a>
            <p>{{ .Summary | truncate 30}}</p>
        </div>
    </div>
</li>
