<div class="flex -mt-1 print:text-lg font-mono">
  <div
    class="w-2/5 p-2 border border-yellow-400 bg-yellow-300 print:border-black"
  >
    {{ .gd.name }}
  </div>

  <div
    class="w-3/5 p-2 border border-yellow-400 bg-white border-l-0 print:border-black text-center"
  >
    <div class="text-right mr-4">
      {{- $price := div .market 24.0 | mul .gd.ratio | sub .gd.sell_diff | mul
      -0.1 | math.Ceil | mul 10 -}} {{ lang.NumFmt 0 $price }}円
    </div>
  </div>
  {{ if .pawn }}
  <div
    class="w-3/5 p-2 border border-yellow-400 bg-white border-l-0 print:border-black text-center"
  >
    <div class="text-right mr-4">
      {{- $price := div .market 24.0 | mul .gd.ratio | sub .gd.sell_diff | mul
      -0.1 | mul 0.09 | math.Ceil | mul 100 -}} {{ lang.NumFmt 0 $price }}円
    </div>
  </div>
  {{ end }}
</div>
<div
  class="text-xs w-full p-2 -mt-1 border border-yellow-400 bg-white print:hidden"
>
  {{ .gd.comment}}
</div>
