<div class="flex -mt-1 print:text-xl">
    <p class="w-2/5 py-2 text-center border border-gray-500 bg-gray-300">
        {{ .pt.name }}
    </p>
    <p class="w-3/5 py-2 text-center border border-gray-500 bg-white border-l-0">
        {{- $price := div .market 1000.0 | mul .pt.ratio | sub .pt.sell_diff | mul -0.1 | math.Ceil | mul 10 -}}
        {{ $price := mul .pt.sell_rate .market | mul 0.1 | math.Ceil | mul 10 }}
        {{ lang.NumFmt 0 $price }}円
    </p>
    {{ if .pawn }}
    <p class="w-3/5 py-2 text-center border border-gray-500 bg-white border-l-0">
        {{- $price := div .market 1000.0 | mul .pt.ratio | sub .pt.pawn_diff | mul -0.1 | math.Ceil | mul 10 -}}
        {{ $price := mul .pt.sell_rate .market | mul 0.9 | mul 0.1 | math.Ceil | mul 10 }}
        {{ lang.NumFmt 0 $price }}円
    </p>
    {{ end }}
</div>
