<div class="flex -mt-1 print:text-lg font-mono">
  <p
    class="flex-1 p-2 border border-yellow-500 bg-yellow-200 print:border-black"
  >
    {{ .coin.name }}
  </p>
  <p
    class="w-48 p-2 border border-yellow-500 bg-white border-l-0 print:border-black text-center"
  >
    {{- $price := div .market 100000.0 | mul .coin.weight | mul .coin.sell_ratio
    | math.Ceil | mul 100 -}} {{ lang.NumFmt 0 $price }}円
  </p>
  {{ if .pawn }}
  <p
    class="w-48 p-2 border border-yellow-500 bg-white border-l-0 print:border-black text-center"
  >
    {{- $price := div .market 100000.0 | mul .coin.weight | mul .coin.pawn_ratio
    | math.Ceil | mul 100 -}} {{ lang.NumFmt 0 $price }}円
  </p>
  {{ end }}
</div>
