<div class="flex -mt-1 print:text-lg font-mono">
  <p
    class="w-2/5 p-2 border border-yellow-400 bg-yellow-300 print:border-black"
  >
    {{ .gd.name }}
  </p>
  <p
    class="w-3/5 p-2 border border-yellow-400 bg-white border-l-0 print:border-black text-center"
  >
    {{- $price := div .market 24.0 | mul .gd.ratio | sub .gd.sell_diff | mul
    -0.1 | math.Ceil | mul 10 -}} {{ lang.NumFmt 0 $price }}円/g
  </p>
  {{ if .pawn }}
  <p
    class="w-3/5 p-2 border border-yellow-400 bg-white border-l-0 print:border-black text-center"
  >
    {{- $price := div .market 24.0 | mul .gd.ratio | sub .gd.pawn_diff | mul
    -0.1 | math.Ceil | mul 10 -}} {{ lang.NumFmt 0 $price }}円/g
  </p>
  {{ end }}
</div>
