<div class="flex -mt-1 print:text-lg font-mono">
  <div class="w-2/5 p-2 border border-gray-500 bg-gray-300 print:border-black">
    {{ .pt.name }}
  </div>
  <div
    class="w-3/5 p-2 border border-gray-500 bg-white border-l-0 print:border-black"
  >
    <div class="text-right mr-4">
      {{- $price := div .market 1000.0 | mul .pt.ratio | sub .pt.sell_diff | mul
      -0.1 | math.Ceil | mul 10 -}} {{ lang.NumFmt 0 $price }}円
    </div>
  </div>
  {{ if .pawn }}
  <div
    class="w-3/5 p-2 border border-gray-500 bg-white border-l-0 print:border-black"
  >
    <div class="text-right mr-4">
      {{- $price := div .market 1000.0 | mul .pt.ratio | sub .pt.sell_diff | mul
      -0.1 | mul 0.09 | math.Floor | mul 100 -}} {{ lang.NumFmt 0 $price }}円
    </div>
  </div>
  {{ end }}
</div>
