{{ define "main" }}
<div>
  <h1 class="p-1 bg-blue-400 text-white text-lg md:text-2xl border-l-8 border-blue-500">{{ .Title }}</h1>
  <div class="text-gray-600 py-1 flex flex-col lg:flex-row-reverse justify-between">
    <div class="p-2">
      <span><i class="far fa-clock px-2"></i>{{ .Date.Format (.Site.Params.dateFormat) }}</span>
      <i class="far fa-user px-2"></i>{{ .Param "author" }}
    </div>
  </div>
  <div class="py-4">
    {{ partial "sns-buttons" . }}
  </div>
  <!-- <div align="center" class="py-4">
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=294&l=ur1&category=jewelry&f=ifr&linkID=e85fb914ba0b027b2619f1da2e3f56a3&t=kyasu1-22&tracking_id=kyasu1-22" width="320" height="100" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>   -->
  <div class="post">
    {{ .Content }}
  </div>
  <div class="flex justify-between py-4">
    {{ with .PrevInSection }}
    <a class="text-gray-800" href="{{ .Permalink }}" title="{{ .Title }}">＜古い記事へ</a>
    {{ end }}

    {{ with .NextInSection }}
    <a class="text-gray-800" href="{{ .Permalink }}" title="{{ .Title }}">新しい記事へ＞</a>
    {{ end }}
  </div>
  <div class="py-4">
    {{ partial "sns-buttons" . }}
  </div>

  <div class="p-2">
    相場のお問い合わせはお電話・メール・LINEにてお気軽にどうぞ！
    <div><i class="fas fa-mobile-alt"></i>&nbsp;tel：<a href="tel:0120-41-1578">0120-41-1578</a></div>
    <div><i class="far fa-envelope"></i>&nbsp;email：info@officeiko.co.jp</div>
    <div><i class="fab fa-line"></i>&nbsp;LINE ID：<a href="https://line.me/R/ti/p/%40oue6072d" target="_blank">@oue6072d</a></div>
    <div><a href="https://www.officeiko.co.jp/contact/" target="_blank">お問い合わせフォーム</a></div>
  </div>
</div>
{{ end }}
