{{ define "main" }}
<div class="content">
<h3>{{ .Title }}</h3>    
<p class="px-2 md:px-0 text-grey-darker py-1 border-t border-b border-solid border-grey">
<span><i class="far fa-clock"></i>{{ .Date.Format (.Site.Params.dateFormat) }}</span>
<i class="far fa-user"></i>{{ $.Param "author" }}
</p>
{{ .Content }}
</div>
<div class="flex">
    <div class="px-4">
        <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="blank_" class="inline-block w-24 h-8 bg-twitter-blue text-center rounded">
            <img src="/images/Twitter_Logo_WhiteOnBlue.png" class="w-8 h-8">
        </a>
    </div>
    <div class="fb-like px-4" data-href="{{ .Permalink }}" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

</div>
{{ end }}