
<li class="w-full lg:w-1/2 p-2">
    <div class="leading-loose flex mb-2 p-2 border border-solid border-blue">
        {{ $class := "w-24 h-24 md:w-32 md:h-32" }}
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" class="{{ $class }}">
        {{ else }}
        <img src="/images/thumb-news.png" class="{{ $class }}">
        {{ end }}
        <div class="flex flex-col ml-2">
            <span>{{ dateFormat .Site.Params.dateFormat .Date }}</span>
            <a href="{{ .URL }}" class="no-underline text-black">{{ .Title }}</a>
        </div>
    </div>
</li>