<li class="flex flex-col md:w-p32 border-black hover:border hover:shadow-lg leading-normal mb-5">
    {{ $link := .Permalink }}
    {{ range first 1 .Params.images }}
    <a href="{{ $link }}">
        <img src="{{ . }}" alt="">
    </a>
    {{ end }}

    <div class="p-2 ">
        <p><a href="{{ $link }}" class="h-10 overflow-hidden inline-block no-underline text-sm text-black">{{ .Params.title }}</a></p>
        {{ if eq .Params.stock false }}
        <p class="text-right">SOLD OUT</p>
        {{ else }}
        <p class="text-right">販売価格　{{ partial "taxed-price" .Params.price }}円(税込)</p>
        {{ end }}
    </div>
</li>