{{ define "main" }}
<div class="px-2 md:px-12 print:px-0">
    {{ .Content }}
    <div class="flex flex-col print:flex-row print:items-end print:justify-between">
      <h2 class="py-2 print:py-0 text-center text-2xl font-bold text-2xl">営業日カレンダー </h2>
      <p class="py-2 print:py-0">定休日：毎週水曜日 第1火曜日 第3火曜日 / 営業時間：10:00am - 7:00pm</p>
    </div>

    <!-- <div class="text-center p-2 bg-red-600 text-white text-lg font-bold my-4 text-2xl">
      夏季休業：2019年 7月31日（水）〜2019年 8月 6日（水）
    </div> -->
    <div class="flex flex-col print:inline-flex print:flex-row print:justify-around items-center">
      <div class="print:w-5/12 py-4 print:py-0">
        <img class="border border-black rounded" src="https://s3-ap-northeast-1.amazonaws.com/officeiko-public/calendars/this.png" alt="今月の営業カレンダー" >
      </div>
      <div class="print:w-5/12 py-4 print:py-0">
        <img class="border border-black rounded" src="https://s3-ap-northeast-1.amazonaws.com/officeiko-public/calendars/next.png" alt="来月の営業カレンダー">
      </div>
    </div>
</div>
{{ end }}
