{{ define "main" }}
<div class="px-2 md:px-12">
    <h4 class="text-center font-black border-solid border-2 text-2xl px-2 py-2">
        金プラチナの買取と質預かりの価格一覧
    </h4>
    <div class="text-right py-2">
        更新日：{{ dateFormat .Site.Params.dateFormat .Site.Params.market.date }}
    </div>

    <div>
        <p class="text-center text-2xl py-2 font-bold border-b-2">公表価格</p>
        <div class="flex justify-center py-2">
            <div class="w-24">金</div>
            <div class="w-24">{{ lang.NumFmt 0 .Site.Params.market.gd }}円</div>
            <div class="w-48">（前日比 {{ .Site.Params.market.gd_ratio }}円)</div>
        </div>
        <div class="flex justify-center py-2">
            <div class="w-24">プラチナ</div>
            <div class="w-24">{{ lang.NumFmt 0 .Site.Params.market.pt }}円</div>
            <div class="w-48">（前日比 {{ .Site.Params.market.pt_ratio }}円)</div>
        </div>
        <p class="text-center text-sm py-2 text-grey">市場営業日の9:30に発表される基準価格です</p>
    </div>

    <div class="my-4 lg:px-12">
        <p class="text-right py-2">(1gあたり・税込み)</p>
        <div class="text-center border border-solid border-yellow-600 bg-yellow-500 border-b-0 py-2 text-2xl font-bold">
            金製品
        </div>
        <div class="flex">
            <p class="w-2/5 py-2 text-center border border-solid border-yellow-600 bg-yellow-500">
                品位
            </p>
            <p class="w-3/5 py-2 text-center border border-yellow-600 bg-white border-l-0">
                買い取り
            </p>
            <p class="w-3/5 py-2 text-center border border-yellow-600 bg-white border-l-0">
                質預かり
            </p>
        </div>
        {{ $gd := .Site.Params.market.gd }}
        {{ range .Site.Params.gd }}
        <div class="">
            {{ partial "price_gd" (dict "market" $gd "gd" . "pawn" true ) }}
        </div>
        {{ end }}
    </div>

    <div class="my-8 md:px-8 lg:px-12">
        <div class="text-center border border-gray-500 bg-gray-300 border-b-0 py-2 text-2xl font-bold">
            プラチナ製品
        </div>
        <div class="flex">
            <p class="w-2/5 py-2 text-center border border-gray-500 bg-gray-300">
                品位
            </p>
            <p class="w-3/5 py-2 text-center border border-gray-500 bg-white border-l-0">
                買い取り
            </p>
            <p class="w-3/5 py-2 text-center border border-gray-500 bg-white border-l-0">
                質預かり
            </p>
        </div>
        {{ $pt := .Site.Params.market.pt }}
        {{ range .Site.Params.pt }}
        <div class="">
            {{ partial "price_pt" (dict "market" $pt "pt" . "pawn" true ) }}
        </div>
        {{ end }}
    </div>

    <div class="print:hidden">
      <ul>
        <li>
          上記はスクラップ扱いの場合の最低価格となります。
          状態の良い多面の喜平ネックレス・ブレスレットはより高く買い取りさせていただきます。
          また、ジュエリーに付いたダイヤモンドや宝石なども評価の対象となります。
        </li>
        <li>
          手数料や査定料などはかかりません。
        </li>

      </ul>
    </div>
</div>

{{ end }}
