{{ $border := "border border-solid border-gray-500" }}
{{ define "rate" }}
<td class="border border-solid border-gray-500 p-1">{{ .amount | lang.NumFmt 0 }}</td>
<td class="border border-solid border-gray-500 p-1">{{ .amount | mul .rate | lang.NumFmt 0 }}</td>
<td class="border border-solid border-gray-500 p-1">{{ .amount | mul .rate | mul 2 | lang.NumFmt 0 }}</td>
<td class="border border-solid border-gray-500 p-1">{{ .amount | mul .rate | mul 3 | lang.NumFmt 0 }}</td>
{{ end }}
<h4 class="text-center py-8 text-lg">質料計算早見表</h4>
<div class="flex flex-col xl:flex-row justify-around">
    <table class="text-right border-collapsing mb-8">
        <tr class="text-center">
            <th class="w-12 border border-solid border-gray-500 p-1">料率</th>
            <th class="w-24 border border-solid border-gray-500 p-1">貸付金額</th>
            <th class="w-16 border border-solid border-gray-500 p-1">1ヶ月</th>
            <th class="w-16 border border-solid border-gray-500 p-1">2ヶ月</th>
            <th class="w-16 border border-solid border-gray-500 p-1">3ヶ月</th>
        </tr>
        <tr>
            <td rowspan="12" class="text-center border border-solid border-gray-500 p-1">5%</td>
            {{ block "rate" (dict "amount" 5000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 10000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 15000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 20000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 25000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 30000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 40000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 50000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 60000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 70000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 80000 "rate" 0.05) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 90000 "rate" 0.05) }}{{end}}
        </tr>
    </table>

    <table class="text-right border-collapsing mb-8">
        <tr class="text-center">
            <th class="w-12 border border-solid border-gray-500 p-1">料率</th>
            <th class="w-24 border border-solid border-gray-500 p-1">貸付金額</th>
            <th class="w-16 border border-solid border-gray-500 p-1">1ヶ月</th>
            <th class="w-16 border border-solid border-gray-500 p-1">2ヶ月</th>
            <th class="w-16 border border-solid border-gray-500 p-1">3ヶ月</th>
        </tr>
        <tr>
            <td rowspan="6" class="text-center border border-solid border-gray-500 p-1">4%</td>
            {{ block "rate" (dict "amount" 100000 "rate" 0.04) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 120000 "rate" 0.04) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 150000 "rate" 0.04) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 200000 "rate" 0.04) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 300000 "rate" 0.04) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 400000 "rate" 0.04) }}{{end}}
        </tr>
        <tr>
            <td rowspan="6" class="text-center border border-solid border-gray-500 p-1">3%</td>
            {{ block "rate" (dict "amount" 500000 "rate" 0.03) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 600000 "rate" 0.03) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 700000 "rate" 0.03) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 800000 "rate" 0.03) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 900000 "rate" 0.03) }}{{end}}
        </tr>
        <tr>
            {{ block "rate" (dict "amount" 1000000 "rate" 0.03) }}{{end}}
        </tr>
    </table>

</div>