/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

html {
  line-height: 1.15;
}

@tailwind components;

@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.bg-cover-image-top {
  // background-image: url('../images/top-tenpo-4-3.jpg');
  background-image: url("https://www.officeiko.co.jp/images/top-tenpo-mobile.jpg");
  @screen md {
    background-image: url("https://www.officeiko.co.jp/images/top-tenpo-4-3.jpg");
  }
}

.bg-twitter-blue {
  background-color: #1da1f3;
}

.bg-facebook-blue {
  background-color: #4267b2;
}

.bg-line-green {
  background-color: #17b832;
}

a[href^="tel:"] {
  pointer-events: none;
}
/* .bg-cover-image-top:before {
    content: '';
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.content {
  @apply text-black leading-normal text-xl;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  ul {
    @apply px-2;
  }

  h1 {
    @apply bg-blue-500 font-bold text-4xl;
  }
  h3 {
    @apply bg-blue-300 text-3xl font-semibold p-3 border-l-4 border-solid border-blue-700;
  }
  p {
    @apply my-4;
  }
  ul {
    @apply font-extrabold border-2 border-blue-500 border-solid m-4 p-4;
  }

  ol {
    @apply font-extrabold border-2 border-blue-500 border-solid m-4 py-4;
  }

  hr {
    border-width: 0 0 8px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>')
      0 0 100% repeat;
    width: 216px;
  }

  @screen md {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div,
    ul {
      @apply px-8;
    }
  }
}

.post {
  @apply text-black leading-normal;

  p {
    @apply my-4 px-2;
  }

  h1 {
    @apply px-2 text-2xl font-bold;
  }

  h2 {
    @apply px-2 border-b-2 py-1 my-4 border-black text-lg font-bold;
  }
  @screen md {
    h2 {
      @apply text-xl;
    }
  }

  h3 {
    @apply px-2 py-1 my-4 border-solid border-b-2 font-semibold;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0), red) 10;
  }

  h4 {
      @apply p-2 mt-4 font-medium bg-red-400 text-white
  }
  a { color: blue;
    font-weight: bold;
    text-decoration: underline;
  }

  pre {
    @apply p-2 overflow-x-scroll;
  }

  :not(pre) > code {
    @apply bg-gray-200 text-gray-900 p-1;
  }

  ul,
  ol {
    @apply bg-yellow-100 p-4 pl-8 border-2 border-gray-800 list-disc;

    li {
      @apply leading-loose py-2;
    }
  }
}

.page {
  @apply text-black leading-normal text-lg;

  h1 {
    @apply p-2 text-4xl;
  }

  h2 {
    @apply py-1 px-2 my-2 border-l-8 border-green-700 bg-green-500 text-white text-xl font-semibold;
  }

  h3 {
    @apply py-1 px-2 border-l-8 border-b border-solid border-black;
  }

  h4 {
    @apply p-2;
  }
  p {
    @apply p-2;
  }
  ul {
    @apply p-4;
  }
  hr {
    @apply h-1 bg-gray-500;
  }

  blockquote {
    @apply my-4 border rounded-lg bg-gray-300;
  }
}

.pagination {
  display: inline-block;
  list-style: none;
  a {
    color: black;
    text-decoration: none;
  }

  .page-item {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .page-item.active {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
  }

  .page-item:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  .page-item.disabled {
    display: none;
  }
}
