/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.bg-cover-image-top {
    // background-image: url('../images/top-tenpo-4-3.jpg');
    background-image: url('https://www.officeiko.co.jp/images/top-tenpo-mobile.jpg');
    @screen md {
        background-image: url('https://www.officeiko.co.jp/images/top-tenpo-4-3.jpg');
    }
}

.bg-twitter-blue {
    background-color: #1DA1F3;
}

.bg-facebook-blue {
    background-color: #4267B2;
}

.bg-line-green {
    background-color: #17B832;
}

a[href^="tel:"] {
    pointer-events: none;
}
/* .bg-cover-image-top:before {
    content: '';
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.content {
    @apply text-black leading-normal text-xl;

    h1,h2,h3,h4,h5,h6,p,div,ul {
        @apply px-2;
    }

    h1 {
        @apply bg-blue font-bold;
    }
    h3 {
        @apply bg-blue-lighter text-black p-3 border-l-4 border-solid border-blue-dark;
    }
    p {
        @apply my-4;
    }
    ul {
        @apply list-reset font-extrabold border-2 border-blue border-solid m-4 p-4;
    }

    ol {
        @apply font-extrabold border-2 border-blue border-solid m-4 py-4;
    }

    hr {
        border-width: 0 0 8px;
        border-style: solid;
        border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
         width: 216px;
    }

    @screen md {
        h1,h2,h3,h4,h5,h6,p,div,ul {
            @apply px-8;
        }
    }
}
.post {
  @apply text-black leading-normal;

  p {
    @apply my-4 px-2;
  }

  h2 {
    @apply px-2 border-b-2 border-black text-lg;
  }
  @screen md {
    h2 {
      @apply text-xl;
    }
  }

  h3 {
    @apply px-2 my-2 border-solid border-b-2;
    border-image: linear-gradient(
      to left,
      rgba(0,0,0,0),
      red
    ) 10;
  }
}
.page {
    @apply text-black leading-normal text-lg;

    h1 {
      @apply p-2
    }

    h2 {
        @apply py-1 px-2 my-2 border-l-8 border-green-dark bg-green text-white text-lg;
    }

    h3 {
        @apply py-1 px-2 border-l-8 border-b border-solid border-black;
    }

    h4 {
        @apply p-2;
    }
    p {
        @apply p-2;
    }
    ul {
        @apply p-4 list-reset;
    }
    hr {
        @apply h-1 bg-grey;
    }

    blockquote {
      @apply my-4 border rounded-lg bg-grey-light;
    }
}

.pagination {
    display: inline-block;
    list-style: none;
    a {
        color: black;
        text-decoration: none;
    }

    .page-item {
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .page-item.active {
        background-color: #4caf50;
        color: white;
        border-radius: 5px;
    }

    .page-item:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }

    .page-item.disabled {
        display: none;
    }
}
