{{ define "main" }}
<h1 class="p-2 text-xl lg:text-2xl font-semibold">{{ .Title }}</h1>
<p class="p-2 text-right my-4 border-t border-b border-gray-400 bg-gray-100">
    {{ .Date.Format (.Site.Params.dateFormat) }}登録
</p>

{{ $btnClass := .Site.Params.btnClass }}
<div class="flex justify-center flex-col lg:flex-row">
    <div class="flex-1 mb-2">
        <div id="slider"></div>
    </div>
    <div class="flex-no-shrink w-full px-2 lg:px-0 lg:w-64 ml-0 lg:ml-2">
        <ul class="text-lg">
            {{ if eq .Params.stock false }}
            <li>
                <p class="text-right py-1 text-red-700 font-bold">SOLD OUT</p>
            </li>
            {{ else }}
            <li>
                <p class="text-right py-1"><b>販売価格</b></p>
                <p class="text-right py-1">{{ partial "taxed-price" .Params.price }}円(税込)</p>
            </li>
            <p class="m-2 text-sm">
                <div class="border border-red-500 p-2 text-red-700">一品物になります為、売り切れの際はご容赦ください。</div>
            </p>
                {{ with .Params.link_auction }}
            <li class="text-center">
                <a href="{{ . }}" target="_blank" class="{{ $btnClass }}" title="Shop in Yahoo Auction">
                    ヤフオク
                </a>
            </li>
            {{ end }}
            {{ with .Params.link_shopping }}
            <li class="text-center">
                <a href="{{ . }}" target="_blank" class="{{ $btnClass }}" title="Shop in Yahoo Shopping">
                    ヤフーショッピング
                </a>
            </li>
            {{ end }}
            {{ end }}
            <li class="text-center">
                <a href="mailto:info@officeiko.co.jp?subject={{ .Title }}" class="{{ $btnClass }}"
                    title="Ask abou this item">
                    お問い合わせ
                </a>
            </li>
            <li>
                {{ partial "sns-buttons" . }}
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="content">
    {{ .Content }}
</div>

{{ partial "slider" .Resources }}

{{ end }}