{{ define "main" }}
<div class="px-2 md:px-12">

    <div class="text-right">
        公表　{{ .Site.Params.market.date }}
    </div>

    <div>
        <p>金 {{ lang.NumFmt 0 .Site.Params.market.gd }}円（前日比 {{ .Site.Params.market.gd_ratio }}円)</p>
        <p>プラチナ {{ lang.NumFmt 0 .Site.Params.market.pt }}円（前日比 {{ .Site.Params.market.pt_ratio }}円)</p>
    </div>
    <h4 class="text-center font-black text-xl px-2 py-2">
        当社の買取および質融資の金額
    </h4>
    <p class="text-right py-2">(1gあたり・税込み)</p>
    <div class="my-8">
        <div class="text-center border border-solid border-yellow-dark bg-yellow py-2">
            金製品
        </div>
        <div class="flex">
            <p class="w-2/5 py-2 text-center border border-solid border-yellow-dark bg-yellow">
                品位
            </p>
            <p class="w-3/5 py-2 text-center border border-yellow-dark bg-white border-l-0">
                買取金額
            </p>
            <p class="w-3/5 py-2 text-center border border-yellow-dark bg-white border-l-0">
                融資金額
            </p>
        </div>
        {{ $gd := .Site.Params.market.gd }}
        {{ range .Site.Params.gd }}
        <div class="">
            {{ partial "price_gd" (dict "market" $gd "gd" . "pawn" true ) }}
        </div>
        {{ end }}
    </div>

    <div class="my-8">
        <div class="text-center border border-solid border-grey bg-grey-lighter py-2">
            プラチナ製品
        </div>
        <div class="flex">
            <p class="w-2/5 py-2 text-center border border-solid border-grey bg-grey-lighter">
                品位
            </p>
            <p class="w-3/5 py-2 text-center border border-grey bg-white border-l-0">
                買取金額
            </p>
            <p class="w-3/5 py-2 text-center border border-grey bg-white border-l-0">
                融資金額
            </p>
        </div>
        {{ $pt := .Site.Params.market.pt }}
        {{ range .Site.Params.pt }}
        <div class="">
            {{ partial "price_pt" (dict "market" $pt "pt" . "pawn" true ) }}
        </div>
        {{ end }}
    </div>

    {{ .Content }}
</div>

{{ end }}